"api-gateway/data/transactions/neo4j/neostore.transaction.db" 
"api-gateway/data/transactions/neo4j/neostore.transaction.db.0" 
"api-gateway/data/transactions/neo4j/neostore.transaction.db" 
"api-gateway/data/transactions/neo4j/neostore.transaction.db.0" 
